name: Java Build and Push

on:
 workflow_dispatch:
  inputs:
    environment:
      description: "Select environment"
      type: choice
      required: true
      options:
        - dev
        - staging
        - prod
      default: dev

    deploy:
      description: "Deploy after build?"
      type: boolean
      required: true
      default: false

jobs:
  build-and-update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true

          tags: ${{ secrets.DOCKER_USERNAME }}/java-app:${{ github.sha }}


      - name: Update Helm Chart Tag
        run: |
          # Use sed to find 'tag: ...' and replace it with the new SHA
          sed -i "s/tag: .*/tag: \"${{ github.sha }}\"/" java-app-chart/values.yaml
          
          # Configure Git to push the change back to the repo
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add java-app-chart/values.yaml
          git commit -m "chore: update image tag to ${{ github.sha }} [skip ci]"
          git push